<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.jayeshbhadja.ganttchartlibrary">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".activity.Gantt"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
    </application>

</manifest>